<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919270849128-dji7t031bpi22posu5o74lr9br7tphn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919270849128-dji7t031bpi22posu5o74lr9br7tphn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPCsFp1vhxEGiXhe92LiMC-_5pF63XRMY</string>
	<key>GCM_SENDER_ID</key>
	<string>919270849128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamtn.CabuChatMessenger</string>
	<key>PROJECT_ID</key>
	<string>cabuchatmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>cabuchatmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919270849128:ios:1cc1dffbe2cf0540</string>
	<key>DATABASE_URL</key>
	<string>https://cabuchatmessenger.firebaseio.com</string>
</dict>
</plist>